body{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
img{
  height: 200px;
}
ul, ol{
  text-align: justify;
}
.title{
  font-family: Arial;
  color: crimson;
  border: 1px solid black;
  padding: 5px;
  border-radius: 50px;
  text-align: center;
}
.subtitle{
  font-size: 24px;
  text-align: justify;
}